<!DOCTYPE html>
<html>
  <head>
    <title>Edools</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-inverse">
        <div class="navbar-header">
            <a href="/" class="navbar-brand">Edools</a>
        </div>
        <div class="collapse navbar-collapse">   
          <ul class="nav navbar-nav">
            <li><a href="/students">Students</a></li>
            <li><a href="/schools">Schools</a></li>
          </ul>
        </div>
    </nav>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
