<div class="card shadow mb-4">
  <%= panel_header("#{breadcrumb('administracao.relatorios.base')} de #{breadcrumb('administracao.relatorios.alunos')}") %>
  <div class="card-body">
    <%= render 'lista_grid' %>
  </div>
</div>