<div class="medium-6 medium-offset-3">
  <p>
    <strong><%= t('email') %>:</strong>
    <%= @user.email %>
  </p>
</div>
<div class="medium-6 medium-offset-3">
  <%= link_to t('back'), users_path %>
</div>