.navbar-default.sidebar{:role => "navigation"}
  .sidebar-nav.navbar-collapse
    %ul#side-menu.nav
      %li.sidebar-search
        .input-group.custom-search-form
          %input.form-control{:placeholder => "Search...", :type => "text"}/
          %span.input-group-btn
            %button.btn.btn-default{:type => "button"}
              %i.fa.fa-search
      %li
        = link_to root_path do
          %i.fa.fa-dashboard.fa-fw
          Dashboard
      %li
        = link_to "#" do
          %i.fa.fa-building.fa-fw
          Escolas
          %span.fa.arrow
        %ul.nav.nav-second-level
          %li
            = link_to "Ver todas", schools_path
          %li
            = link_to "Cadastrar nova escola", new_school_path