<h1>Editing Curso</h1>

<%= render 'form', curso: @curso %>

<div class="forms-actions">
    <%= link_to 'Show', @curso, :class => 'btn btn-primary btn-sm active' %>
    <%= link_to 'Back', cursos_path, :class => 'btn btn-danger btn-sm' %>
</div>
