<div class="panel panel-primary">
  <div class="panel-heading">
      <h1>Cadastrar Curso</h1>
  </div>
  <%= render 'form' %>
  <button type="button" class="btn btn-default"><%= link_to 'Voltar', cursos_path %></button>
</div>
