%h1 Escolas Cadastradas

- @schools.each do |school|
  = link_to school.name, user_school_path(current_user, school)

%br

= link_to "Cadastrar Nova Escola", new_user_school_path(current_user)
= link_to "Sair do Sistema", destroy_user_session_path, method: :delete
