- content_for :page_header do
  Dashboard do teste para a Edools!
%p utilize o menu ao lado para acessar as opções.
%p Comece cadastrando as escolas, depois os cursos para escolas. Após, você poderá cadastrar alunos e matricular os alunos aos cursos.
