- content_for :page_header do
  Resultados para "#{params[:q]}"
%ul
  - if @results.empty?
    %li Nenhum resultado para ser exibido
  - else
    - @results.each do |result|
      = render partial: result.class.name.tableize.singularize, locals: {record: result}
