<!-- Nav Item - Utilities Collapse Menu -->
<li class="nav-item">
  <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUtilities" aria-expanded="true" aria-controls="collapseUtilities">
    <i class="fa fa-fw fa-bar-chart"></i>
    <span><%= breadcrumb('administracao.relatorios.base') %></span>
  </a>
  <div id="collapseUtilities" class="collapse" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
    <div class="bg-white py-2 collapse-inner rounded">
      <%= link_to alunos_ativos_path, class: 'collapse-item' do %>
        <%= breadcrumb('administracao.relatorios.alunos') %>
      <% end %>
    </div>
  </div>
</li>