<h1>Novo Aluno</h1>

<%= form_for([@school, @school.students.build]) do |f| %>

<div class="form-group">
    <%= f.label :name, "Nome", for: "name" %><br>
    <%= f.text_field :name, id: "name", class: "form-control", placeholder: "Nome" %>
</div>

<div>
    <%= f.submit "Salvar", class: "btn btn-default" %>
</div>

<% end %>
