<div class="row home">
  <div class="center">
    <h4 class="title">Aplicativo de teste</h4>
    <h5 class="subtitle2">Rode o comando docker-compose run --rm 
                          app bundle exec rake db:seed antes de iniciar 
    </h5>    
  </div>
</div>