<div class="jumbotron">
  <h1>Edools Test</h1>
  <p>This system aims to help the integration between students and schools.</p>
  <p>
    <a class="btn btn-lg btn-primary" href="/courses" role="button">See our courses list &raquo;</a>
  </p>
</div>
