<h1>Alunos ativos</h1>

<div class="row">
    <div class="col-sm-12">

      <% @school.courses.each do |course| %>

      <div class="active-students">

        <h4><%= course.title %></h4>

        <ol class="list-group">
          <% course.students.each do |student| %>
            <li class="list-group-item"><%= student.name %></li>
          <% end %>

          <% if course.students.size == 0 %>
            <p>Nenhum aluno matriculado.</p>
          <% end %>

        </ol>

      </div>

      <% end %>

    </div>
</div>
