<div class="panel panel-primary">
  <div class="panel-heading">
      <h1>Cadastrar Escola</h1>
  </div>
    <%= render 'form' %>
    <button type="button" class="btn btn-default"><%= link_to 'Voltar', escolas_path %></button>
</div>
