<div class="container">
	<div class="lesson">
	<h1 class="text-center">Nova Lição</h1>
	<div class="row">
		<div class="col-md-10 col-md-offset-1">
			<%= render 'form_new_lesson' %>
		</div>
	</div>
	<h4 class="text-center"><%= link_to 'Cancelar', course_lessons_path(@course) %></h4>
	</div>
</div>
