h5 Nome: #{@school.name}
h5 Proprietário: #{@school.owner_email}
h5 Subdomínio: #{@school.subdomain}
h5 Pitch: #{@school.pitch}
h5 Data de criação: #{@school.creation_date}
h5 Cursos: #{@school.courses.count}