<div class="well">
  <h1><%= t('helpers.titles.edit', {model: School.model_name.human})%></h1>
</div>
<div class="btn-group pull-right" role="group">
  <%= link_to t('helpers.links.back'), schools_path, class: 'btn btn-danger' %>
  <%= link_to t('helpers.links.show'), @school,      class: 'btn btn-success' %>
</div>
<br /><br />
<%= render 'form' %>
