<div class="mt-4">
  <h3>Edit School</h3>
</div>

<div class="clearfix">
  <div class="btn-group float-right">
    <%= link_to 'Back', schools_path, class: 'btn btn-secondary' %>
    <%= link_to 'Show', @school, class: 'btn btn-info' %>
  </div>
</div>

<hr>

<%= render 'form', school: @school %>
