<div class="mt-4">
  <h3>New School</h3>
</div>

<div class="clearfix">
  <%= link_to 'Back', schools_path, class: 'btn btn-secondary float-right' %>
</div>

<hr>

<%= render 'form', school: @school %>