<div class="container">
<div class="school">
<div class="row">
	<h2 class="text-center">Você está criando uma instituição</h2>
	<h4 class="text-center">Após Concluir, você poderá inserir seus cursos</h4>


<div class="col-md-10 col-md-offset-1">
	<%= render 'form' %>
</div>


</div> <!-- End-Row -->
</div> <!-- End-School -->
</div> <!-- End-Container -->

