<div class='row form'>
  <div class="col s12 ">
    <h4 class="header">Editar curso</h2>
    <div class="card horizontal">
      <div class="card-stacked">
        <div class="card-content">
          <%= render 'form' %>
        </div>
      </div>
    </div>
  </div>
</div>