<div class="container">
<div class="row">
<div class="course"> 


<h1 class="text-center">Criar Curso</h1>
<div class="row">
<div class="col-md-10 col-md-offset-1">
		<%= render 'form' %>
</div>
</div>
<h4 class="text-center"><%= link_to 'Cancelar', school_path(current_user.school) %></h4>



</div> <!-- End-Course -->
</div> <!-- End-Row -->
</div> <!-- End-Container -->