%h1= t('titles.school_list')

%input#search.form-control{:placeholder => t('placeholders.search_school'), :type => "search", :value => ""}/

%table.table#table
  - @schools.each do |school|
    %tr
      %td
        %h3= link_to school.name, school
