<div class="row">
    <div class="col-sm-12">
        <table class="table table-striped">
            <tr>
                <th>Título</th>
                <th></th>
            </tr>

            <% @courses.each do |course| %>
            <tr>
                <td><%= course.title %></td>
                <td class="col-sm-3">
                  <div class="btn-group">
                    <%= link_to new_school_course_student_path(@school, course), class: "btn btn-default" do%>
                      <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                      Alunos
                    <% end %>
                  </div>
                </td>
            </tr>
            <% end %>
        </table>
    </div>
</div>
