@import "materialize";
@import "material_icons";
@import "schools";
@import "pages";
@import "shared/_navbar";
@import "shared/_footer";
@import "courses";

select{
  display: block;
}

.form{
  margin-top: 20px;
  margin-bottom: 20px;
}

.pagination li.active a {
  color: #fff;
}

input:not([type]):focus:not([readonly]), 
input[type=text]:not(.browser-default):focus:not([readonly]), 
input[type=password]:not(.browser-default):focus:not([readonly]), 
input[type=email]:not(.browser-default):focus:not([readonly]), 
input[type=url]:not(.browser-default):focus:not([readonly]), 
input[type=time]:not(.browser-default):focus:not([readonly]),
input[type=date]:not(.browser-default):focus:not([readonly]), 
input[type=datetime]:not(.browser-default):focus:not([readonly]), 
input[type=datetime-local]:not(.browser-default):focus:not([readonly]), 
input[type=tel]:not(.browser-default):focus:not([readonly]), 
input[type=number]:not(.browser-default):focus:not([readonly]), 
input[type=search]:not(.browser-default):focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]){
  border-bottom: 1px solid gray;
  box-shadow: 0 1px 0 0 gray;
}

select:focus {
  outline: 1px solid gray;
}

.input-field label{
  color: black
}

label{
  color: black;
}