#discovery {
	.item{
      padding: 20px 20px;
      background-color: #fafafa;
      font-size: 16px;
      text-align: center;
      text-transform: uppercase;
      letter-spacing: -0.4px;
	}
  
  
}