.profile {
	.box {
        margin-top: 30px;
		background-color: #f8f8f8;
		padding: 10px 20px 20px;
		box-shadow: 1px 1px #909090;
        border-radius: 5px;
      h3 {
        text-transform: uppercase;
        text-align: center;
      }
      .square {
        .square-inner {
          margin: 12px 0px;;
          border: 1px solid #555;
          padding: 20px 10px;
          font-size: 16px;
        }
      }
	}
}