//Colors
//$primary-color:#40AF7C;
$primary-color:#1D8FC8;
$secondary-color:#27293D;
$terciary-color:#FFF1D1;

$card-background-color:#27293D;

$background-color:#222629;
$blue-color:#1D8FC8;
$green-color:#40AF7C;
$border-color:#414A49;
$input-color:#414A49;
$link-color:#414A49;
$label-color:#21252B;
$form-field-color:white;

$btn-confirm:#0D613F;
$btn-confirm-hover:#084029;

$btn-cancel:#D65601;
$btn-cancel-hover:#A34101;

$orange-color:#D65601;
$dark-orange-color:#A34101;

$error:#B44F4B;
$disabled:#868686;