%nav.navbar.navbar-inverse.navbar-fixed-top
  .container
    .navbar-header
      %button.navbar-toggle.collapsed{ 'aria-expanded' => 'false', 'data-target' => '#navbar-collapse', 'data-toggle' => "collapse", type: "button" }
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      = link_to root_path, class: 'navbar-brand' do
        Desafio Edools
    #navbar-collapse.collapse.navbar-collapse
