<aside id="sidebar" class="sidebar c-overflow">
	<ul class="main-menu">
		<li>
			<a href="/"><i class="zmdi zmdi-home"></i> Home</a>
		</li>
		<li>
			<a href="/#/schools">Escolas</a>
		</li>
		<li>
			<a href="/#/courses">Cursos</a>
		</li>
	</ul>
</aside>
