<div class="form-group" style="margin-top: 17px;">
  <div class="pull-right">
    <%= f.button 'Filtrar', onclick: "$('#format').val('html');$('#tipo_relatorio').val('html');", class: "btn btn-primary btn-sm"  %>
    <button type="reset" class="btn btn-info btn-sm" title="Limpar Filtros" id="btn-limpar">
      <i class="mdi mdi-filter-remove-outline"></i> Limpar Filtros
    </button>
  </div>
</div>
