<div class="ui menu">
  <div class="header item">
    <%= image_tag 'is-cool-logo' %>
  </div>
  <%= link_to 'Escolas', schools_path, class: 'item' %>
  <%= link_to 'Alunos', students_path, class: 'item' %>
  <div class="right menu">
    <%= link_to 'Sair', destroy_user_session_path, method: :delete, class: 'ui item' %>
  </div>
</div>
