<!DOCTYPE html>
<html>
<head>
  <title>QueroTrabalharNoEdoolsBackend</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class='container'>
  <div class='row'>
    <div class='col-md-12'>
      <div class='row'>
        <div class='col-md-8 col-md-offset-2'>
          <%= yield %>
        </div>
      </div>
    </div>
  </div>
</div>

</body>
</html>
