<!DOCTYPE html>
<html ng-app="App">
<head>
  <title>Admin</title>

  <link href="https://fonts.googleapis.com/css?family=Roboto:400,300,500,700,900" rel="stylesheet" type="text/css">
  
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body class="login-content">
	<%= yield %>
</body>
</html>
