<div id="error_explanation">
  <h2><%= pluralize(@curso.errors.count, "error") %> prohibited this curso from being saved:</h2>
  <ul>
  <% @curso.errors.full_messages.each do |message| %>
    <li><%= message %></li>
  <% end %>
  </ul>
</div>